[Unit]
Description=Middleware Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/mdw_6/mdw6.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target